doctype html
html(lang="en")
 head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="icon", href="https://cdn.glitch.global/78005c29-e32c-49c4-b98e-965192ce6623/g322.png?v=1658003422948")
  title Hướng dẫn lấy link
  link(rel="canonical", href="http://shortet.glitch.me/")
  meta(name="description", content="A simple tool for creating and editing url")
  meta(name="keywords", content="url, url shortener")
  meta(name="robots", content="index, follow")        
  meta(property="og:title", content="URL Shortener")        
  meta(property="og:type", content="tool")        
  meta(property="og:description", content="A simple tool for creating and editing url")        
  meta(property="og:image", content="https://cdn.glitch.global/78005c29-e32c-49c4-b98e-965192ce6623/Pa.png?v=1658000247165")        
  meta(property="og:url", content="https://shortet.glitch.me/")        
  meta(name="twitter:card", content="summary")    
  link(rel="stylesheet", href="/public/css/tutorial.css")    
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css")       
 body
  .container1
    img(height="50px" src="https://cdn.glitch.global/78005c29-e32c-49c4-b98e-965192ce6623/g322.png?v=1658003422948")
    h1 Hướng dẫn vượt để lấy link gốc
    p(id="input" style="display:none;") #{input}
    video(width="320" height="240" controls)
     source(src="/public/video/videotutor.mp4", type="video/mp4")
    button(type="button" class="btn btn-secondary btn-lg" id="getLink") Get Link
  script(src="public/script/tutorial.js") 
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js") 